@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';
@import '../common/components/button/Button.module.scss';

.header {
    height: 80px;
    padding: 0 30px;
    @include flex(row, flex-end, center, nowrap);
    opacity: 0.9;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    //background-color: $bgSecondColor; // 3 добавил сам
    ////color: $textColor; // 3 добавил сам
    //align-items: center;
    //display: flex;
    //justify-content: flex-end;
}