@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.title {
  margin: 0 0 30px;
  @include text($titleFontFamily, 36px, 1.2, 300); // заюзали миксин
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative; /*// подготовили почву для псевдоэлемета "-----" линия*/
  text-align: center;
  //font-family: 'Josefin Sans', sans-serif;
  //font-weight: 10;
  //color: $textColor;
  //font-size: 26px;
  //line-height: 1.2;
  .h2 {
    margin: 0;
  }
  &::before {/*// псевдоэлемент*/
    content: ''; /*// надпись - если не нужна, просто ставим кавычки*/
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%; /*// выравнивание псевдоэлемента (рысочки) по центру*/
    transform: translate(-50%, 50%); /*// выравнивание псевдоэлемента (рысочки) по центру*!*/
  }
}





