@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.burgerNav {
  width: 100%;
  background-color: silver;
  position: relative;
  .burgerNavItems{
    @include flex(column, space-between, center, nowrap);
    a {
      @include text($titleFontFamily, 16px, 1.2, 400);
      color: $textColor;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        color: $primaryColor;
      }
    }
    .active {
      color: $primaryColor;
    }
  }
  .burgerBtn{
    width: 30px;
    height: 30px;
    background-color: $primaryColor;
    position: absolute;
    top: 10px;
    right: 0;
  }
  @media screen and (min-width: 400px) { // 3 ввели альтернативную ширину, появлеется когда ширина меньшье заданной (адаптивное меню)
    display: none;
  }
}