@import 'variables';

@mixin text ($fontFamily, $fontSize, $lineHeight, $fontWeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@mixin container(){
  width: 80%;
  margin: 0 auto;
}

@mixin flex ($direction, $justifyContent, $alignItems, $wrap){
  display: flex;
  flex-direction: $direction; // меняет направление главной оси (по умолчанию = Х)
  justify-content: $justifyContent; // всегда выравнивает по главной оси
  align-items: $alignItems; // всегда выравнивает по второстепенной оси
  flex-wrap: $wrap;
}

@mixin bgSettings (){
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



